body {
    width: auto;
    margin: 0 auto
}

#mainBlock {
    color: brown;
    font-size: 40px;
    margin: 0 auto;
    width: 300px;
}

#startButtonDiv {
    color: brown;
    font-size: 40px;
    margin: 0 auto;
    width: 200px
}